{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ubicacion creation</h1>
<h3>
    {% with {'form': form, 'btnTxt': 'Crear'}%}
    {{ block("formBlock", "./blocks/formBlock.twig") }}
  {% endwith %}

    <ul>
        <li>
            <a href="{{ path('ubicacion_index') }}">Back to the list</a>
        </li>
    </ul>
</h3>
{% endblock %}
