{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>
        Alta Bien
    </h1>

    {% with {
        form: form,
        btnTxt: 'Crear'
    }
    
    %}
    {{ block('formBlock', './blocks/formBlock.twig') }}
    {% endwith %}

    <a href="{{ path('bien_index') }}" class="btn btn-sm btn-outline-primary">
        Volver al listado de bienes
    </a>
    <a href="{{ path('bienes_homepage') }}"
        class="btn btn-sm btn-outline-primary">
        Volver al menú principal
    </a>
{% endblock %}
