{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>
        Alta Bien
    </h1>

    {% with {
        form: form,
        btnTxt: 'Crear'
    }
    
    %}
    {{ block('formBlock', './blocks/formBlock.twig') }}
    {% endwith %}

    <a href="{{ path('bien_index') }}" class="btn btn-sm btn-outline-primary">
        Volver al listado de bienes
    </a>
    <a href="{{ path('bienes_homepage') }}"
        class="btn btn-sm btn-outline-primary">
        Volver al menú principal
    </a>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#bienesbundle_bien_tipo').change(function () {
            var tipoSelector = $(this);
            
            // Solicite las rama del tipo seleccionado.
            $.ajax({
                url: "{{ path('bien_list_ramas') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    tipoid: tipoSelector.val()
                },
                success: function (ramas) {
                    var ramaSelect = $("#bienesbundle_bien_rama");

                    // Eliminar opciones actuales
                    ramaSelect.html('');
                    
                    // Valor vacío...
                    ramaSelect.append('<option value> Select a rama of ' + tipoSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(ramas, function (key, rama) {
                        ramaSelect.append('<option value="' + rama.id + '">' + rama.name + '</option>'); //ojo aca capaz va nombreRama
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>
{% endblock %}
