{% extends 'base_new.html.twig' %}

{% block body %}
	<h1>
		Lista de Proveedores
	</h1>
	<h3>
		{{ block("tableBlockProveedor", "./proveedor/tableBlockProveedor.twig") }}

		<div class="btn-group btn-group-sm m-3" role="group" aria-label="Basic outlined example">
			<a href="{{ path('proveedor_new') }}" class="btn btn-outline-primary">
				Alta nuevo proveedor
			</a>
			<a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary">
				Volver al menú principal
			</a>
		</div>

	</h3>
{% endblock %}
