{% extends 'base.html.twig' %}

{% block body %}
    <ul><br>
    <h1>Alta Proveedor</h1>
    <h3>
     {% with {'form': form, 'btnTxt': 'Guardar'}%}
    {{ block("formBlock", "./blocks/formBlock.twig") }}
  {% endwith %}
                <a href="{{ path('proveedor_index') }}" class="btn btn-outline-primary"> Volver al listado de proveedores </a>
                <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary"> Volver al menú principal </a>
            </div>
        </ul>
    </h3> </ul>
{% endblock %}
