{% extends 'base_new.html.twig' %}

{% block body %}

    <h1>VISTA - ABM Responsable Area</h1>

    <form action= "#"  method="post" enctype="multipart/form-data">  
        <div class="container">    
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Apellido y Nombre Responsable  </label>
                        <input class="form-control" type="text" id="" name="" size="15" placeholder="">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Area </label>
                        <select class="form-control">
                            <option value="">Ministerio de Igualdad, Género y Diversidad </option>
                            <option value="">Secretaría de mujeres, género y diversidad</option>
                            <option value="">Secretaría de planificación y coordinación legal y técnica</option>
                            <option value="">Secretaría Privada</option>
                            <option value="">Subsecretaría Legal y Técnica, Gestión de la información</option>
                            <option value="">Subsecreataría de Políticas de Igualdad y Diversidad</option>
                            <option value="">Secretaría de Formación y capacitación para la igualdad</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Localidad</label>
                        <select class="form-control">
                            <option value="">Santa Fe </option>
                            <option value="">Rosario</option>
                            <option value="">Reconquista</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7"></div>
                    <div class="form-group col-md-1">
                        <a href="#" class="btn btn-outline-primary"> Agregar </a>
                    </div>
                </div>
                <div class="card-title">
                    <fieldset><legend><h3>Oficinas registradas</h3></legend>
                        <div class="table-responsive borderRad dataTable gg" id="full_table" style="max-height: 62vh">
                            <table class="table bg-light table-sm table-striped table-bordered table-hover text-center text-dark">
                                <thead class="table-tr-bg" style="position: sticky; top: 0; z-index: 1">
                                    <tr>
                                        <th>
                                            Responsable Area
                                        </th>
                                        <th >
                                            Area
                                        </th>
                                        <th >
                                            Localidad
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="left"> Bellini María Eva</td>
                                        <td align="left">Subsecretaría de Planificaciòn Evaluación y Cooperación Estratégica de Políticas de Igualdad</td>
                                        <td align="left">Santa Fe</td>
                                    </tr>
                                    <tr>
                                        <td align="left">Bode Gustavo</td>
                                        <td align="left">Secretaría de planificación y coordinación legal y técnica</td>
                                        <td align="left">Santa Fe</td>
                                    </tr>
                                    <tr>
                                        <td align="left">Delvo Marcela</td>
                                        <td align="left">Secretaría Privada</td>
                                        <td align="left">Santa Fe</td>
                                    </tr>
                                    <tr>
                                        <td align="left">Fabbri Luciano</td>
                                        <td align="left">Secretaría de Formación y capacitación para la igualdad</td>
                                        <td align="left">Santa Fe</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>

                <br>

                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">

                    <a href="#" class="btn btn-outline-primary"> Volver al menú principal </a>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
