{% extends 'base_new.html.twig' %}

{% block body %}

    <h1>VISTA - Préstamo de Bien</h1>

    <form action= "#"  method="post" enctype="multipart/form-data">  
        <div class="container">    
            <div class="card-body">
                <div class="form-row" >
                    <div class="form-group col-md-2">
                        <label>Código Identificación</label>
                        <input class="form-control" type="text" id="" name="" size="15" >
                    </div>
                    <div class="form-group col-md-2"></div>
                    <div class="form-group col-md-4">
                        <label>Nro Comprobante</label>
                        <input class="form-control" type="text" id="" name="" size="15" disabled="true">
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-8">
                        <div class="card-block" style="background-color: #F5F5F5; border-radius: 12px; padding: 8px;">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Tipo de Bien</label>
                                    <input class="form-control" type="text" id="" name="" size="15" disabled="true">
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Rama Bien</label>
                                    <input class="form-control" type="text" id="" name="" size="15" disabled="true">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Marca</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Modelo</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true" >
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Color</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Nro Serie/Licencia</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Nro Imei</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Nro Sari</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Descripción Complementaria</label>
                                    <input class="form-control" type="text" id="" name="" disabled="true">
                                </div>

                            </div>
                        </div>
                    </div></div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Fecha préstamo</label>
                        <input class="form-control" type="text" id="" name="" >
                    </div>
                    <div class="form-group col-md-3">
                        <label>Fecha estimada de devolución</label>
                        <input class="form-control" type="text" id="" name="" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label>Condición del BI al prestar</label>
                        <input class="form-control" type="text" id="" name="" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Agente Responsable</label>
                        <select class="form-control">
                            <option value="">Agente 1</option>
                            <option value="">Agente 2</option>
                            <option value="">Agente 3</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Dni</label>
                        <input class="form-control" type="text" id="" name="" disabled="true" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Oficina</label>
                        <select class="form-control">
                            <option value="">Oficina 1</option>
                            <option value="">Oficina 2</option>
                            <option value="">Oficina 3</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Ubicación</label>
                        <input class="form-control" type="text" id="" name="" disabled="true" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label>Superior responsable</label>
                        <select class="form-control">
                            <option value="">Funcionario 1</option>
                            <option value="">Funcionario 2</option>
                            <option value="">Funcionario 3</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Apellido y Nombre quien entrega</label>
                        <input class="form-control" type="text" id="" name="" placeholder="Quién firmó la entrega">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Apellido y Nombre quien recibe</label>
                        <input class="form-control" type="text" id="" name="" placeholder="Quién firmó la recepción">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-9"  align="right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                            <a href="#" class="btn btn-outline-primary"> Guardar </a>
                        </div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                            <a href="#" class="btn btn-outline-primary"> Imprimir comprobante </a>
                        </div>
                    </div>
                </div>
                <br>

                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">

                    <input type="submit" class="btn btn-outline-primary" value="Nuevo Préstamo">
                    <a href="#" class="btn btn-outline-primary"> Volver al listado de bienes prestados </a>
                    <a href="#" class="btn btn-outline-primary"> Volver al menú principal </a>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
