{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
       
      <div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="submit" class="btn btn-outline-primary">Editar</button>
  <a href="{{ path('user_index') }}" type="button" class="btn btn-outline-primary">Volver</a>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
