{% extends 'base_new.html.twig' %}


{% block body %}
	<h1>
		Listado de Usuarios
	</h1>

	{{ block("tableUser", "./user/tableUser.twig") }}

	<a class="btn btn-sm btn-primary mb-3" href="{{ path('user_new') }}">
		Crear Nuevo Usuario
	</a>
{% endblock %}
