{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary"  type="submit" value="Guardar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('user_index') }}">Listado de Usuarios</a>
        </li>
    </ul>
{% endblock %}
