{% extends 'base_new.html.twig' %}

{% block body %}
	<br>

	<h1>Editar factura</h1>


	{% with {'form': edit_form, 'btnTxt': 'Guardar'}%}
	{{ block("formBlock", "./blocks/formBlock.twig") }}
	{% endwith %}


	<div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
		<input type="submit" value="Editar" class="btn btn-sm btn-outline-primary"></a>

	<a href="{{ path('factura_index') }}" class="btn btn-sm btn-outline-primary">
		Volver al listado de facturas
	</a>
	
</a>
{{ form_end(delete_form) }}</div>{% endblock %}
