{% extends 'base.html.twig' %}
{% block body %}




        <p class="text-end" ><b>Ref.: Expte. Nro 0</b></p>
        </tr>
        <tr>
            <div align="right"> <th>Santa Fe, 4 de Febrero de 2021 </th></div>


        </tr>
        <tr>
            <ul><ul>
                    <br><br>
                    <p class="text-center"><th>
                            <br><br><br>
                   <b>CARGO DE BIENES DE CAPITAL</b>
                        <BR>
                        Responsable de la tenencia, guarda y conservación:
                        <ul>Oficina:
                            Agente:
                            </ul>
                        Datos de adquisicion:
                    <ul>Fecha adquisicion:
                        Proveedor:
                        N° de Factura:
                        Importe unitario:
                        Importe total:</ul>
                    Bien Adquirido:
                    <ul>Detalle:
                        Marca:
                        Color:
                        Dimensiones/caracteristicas
                        Modelos:
                        N° de Serie:
                        Observaciones:
                    </ul>
                    </th>





        <br><br>    Pase a la Dir. Gral de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.</p>
        {#  <br><br>  Pase a la Subsecretaría de Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.</p>#}

        </ul></ul>

        <footer  style="width:100%; margin-left: 0px;"  >


            <div class="Informatica-SEIyG" style="background-color: #0d47a1;">
                <div class="container-fluid" style="background-color: #0d47a1; color: #bbdefb;">
                    <ul><img src="/imagenes/marca-footer.png" height="20"></ul> <div align="center" <i><b>Sectorial de Informática - Secretaría de Estado de Igualdad y Género</b>
                        <br>Corrientes 2879 . (3000) Santa Fe - Tel: (0342) 4572888 / 4589468 </i>
                </div>
            </div>
            </div></footer>
        </html>

{% endblock %}