{% extends 'base.html.twig' %}
{% block body %}



         <h3>



        </tr>
             <p></p><p<p></p><p></p>
            <ul><ul>
                    <br><br>
                    <p class="text-center"><th>
                            <br><br><br>
                        <b>CARGO DE BIENES DE CAPITAL</b></p><br><br><br><br>
                        <br>Responsable de la tenencia, guarda y conservación:
                        <br><ul>Oficina:
                        <br>Agente:
                           </ul>
                        Datos de adquisicion:
                    <ul>Fecha adquisicion:
                        <br>Proveedor: {{ factura.proveedor }}
                        </br>N° de Factura: {{ factura.numeroFactura }}
                        <br>Importe unitario: ${{ factura.monto }}
                        <br>Importe total:</ul>
                    Bien Adquirido:
                    <ul>Detalle:
                        <br>Marca:
                        <br>Color:
                        <br>Dimensiones/caracteristicas:
                        <br>Modelos:
                        <br>N° de Serie:
                        <br>Observaciones:
                    </ul>

                    </th>

                    <br><br><br><br><br>
                    <p align="left">............................................
                    <br><br>Firma Agente Responsable</p>
                    <p align="center">............................................
                        <br><br>Firma responsable del sector</p>

                    ............................................
                    <br>Firma responsable de compras



        </ul></ul>
         </h3>
    <div class="clearfix"><br></div>

    <footer class="footer text-muted">
        <div class="container container-footer">
            <div class="row">

                <div class="col-sm-12 col-md-4">

                    <div class="stg-logos" style="text-align:center">
                        <img src="//www.santafe.gob.ar/assets/standard/images/marca-footer.png" alt="Santa Fe" style="margin-bottom:10px;">
                    </div>


                </div>

                <div class="col-sm-12 col-md-4 contact-data-footer" align="center">
                    <p>Sectorial de Informática
                    <br>Secretaría de Estado de Igualdad y Género
                    </p>
                    <p>
                        Corrientes 2879 - (3000) Santa Fe - Tel: (0342) 4572888 / 4589468</p>

                </div>

            </div>

        </div>
    </footer>
        </html>

{% endblock %}