{% extends 'base_new.html.twig' %}

{% block body %}

	<h1>
		Facturas
	</h1>

	{{ block("tableFactura", "./factura/tableFactura.twig") }}


	<div class="btn-group btn-group-sm m-3" role="group" aria-label="Basic outlined example">
		<a href="{{ path('factura_new') }}" class="btn btn-outline-primary btn-margin">
			Alta nueva factura
		</a>
		<a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary btn-margin">
			Volver al menú principal
		</a>
	</div>


{% endblock %}
