{% extends 'base_new.html.twig' %}

{% block body %}
   
    <h1>Nueva factura</h1>
    <h3>
    {% with {
        form: form,
        btnTxt: 'Crear'
    }%}
	{{ block('formBlock', './blocks/formBlock.twig') }}
	{% endwith %}



    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
        <input type="submit" class="btn btn-outline-primary" value="Nueva factura"></a>
        {{ form_end(form) }}
        <a href="{{ path('factura_index') }}" class="btn btn-outline-primary"> Volver al listado de facturas </a>
        <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary"> Volver al menú principal </a>
    </div>
      
    </h3> 
  
{% endblock %}
