{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo edit</h1>
<h3>
   {% with {'edit_form': edit_form, 'btnTxt': 'Guardar'}%}
    {{ block("formBlock", "./blocks/formBlock.twig") }}
  {% endwith %}

    <ul>
        <li>
            <a href="{{ path('tipo_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</h3>
{% endblock %}
