{% extends 'base.html.twig' %}

{% block body %}

    <h1>Tipo creation</h1>
    <h2>
    {% with {'form': edit_form, 'btnTxt': 'Crear'}%}
  {{ block("formBlock", "./blocks/formBlock.twig") }}
  {% endwith %}

    <ul>
        <li>
            <a href="{{ path('tipo_index') }}">Back to the list</a>
        </li>
    </ul>
</h2>
{% endblock %}
