{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>Crear nuevo Tipo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
          Tipo de bien
        <select name="select"  class="form-select" aria-label="Default select example">
        <option value="BI">Bien informatico</option>
        <option value="BU">Bien de uso</option>
        </select>

        <br><br>
      <div>
        <input type="submit" value="Crear" />
    {{ form_end(form) }}
<a href="{{ path('tipo_index') }}">Volver</a>
</div><br><br>
{% endblock %}
