{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>Rama</h1>
<h3>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rama.id }}</td>
            </tr>
            <tr>
                <th>Nombre de la rama</th>
                <td>{{ rama.nombreRama }}</td>
            </tr>
        </tbody>
    </table>

            <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('rama_index') }}" button type="button" class="btn btn-outline-primary">Volver</a>
            <a href="{{ path('rama_edit', { 'id': rama.id }) }}" button type="button" class="btn btn-outline-primary">Editar</a>
            </div>

</h3>
{% endblock %}
